# Homework 5: SQL, FEC Data, and Small Donors

## Due: 11:59pm Tuesday, November 7


In this homework, we're going to explore the Federal Election
Commission's data on the money exchanged during the 2016 election.

This homework has two main parts:

1. Answering questions and computing descriptive statistics on the data
2. Conducting a hypothesis test

This is very similar to what you've done before in this class. However, in this
homework almost all of our computations will be done using SQL.

## Getting Started

For this assignment, you're going to use a popular cloud services provider: Heroku. This will give you some experience provisioning a database in the cloud and working on that database from your computer.

Since the free tier of Heroku's Postgres service limits users to 10,000 rows of data, we've provided a subset of the FEC dataset for you to work with.

If you're interested, you can download and load the entire dataset from
http://www.fec.gov/finance/disclosure/ftpdet.shtml.  It is about 4GB and contains around 24 million rows. (With Heroku and other cloud services, it is relatively straightforward to rent clusters of machines to work on much larger datasets.  In particular, it would be easy to rerun your analyses in this assignment on the full dataset.)

## If you've already done this for lab08, you do not have to follow these steps again. Otherwise you can get duplicate data in your database

### Provisioning the Postgres DB

1. Visit https://signup.heroku.com/postgres-home-button and sign up for an account
if you don't have one already.
2. Now, install the Heroku CLI: https://devcenter.heroku.com/articles/heroku-cli.
Then, run `heroku login` to log into Heroku from your CLI.
3. Now, visit https://dashboard.heroku.com/apps and click **New -> App**. Name the app
whatever you want.
4. You should be sent to the app details page. Click **Resources** in the navbar, then
in the **Add-on** search bar, type "Postgres". You should be able to select **Heroku
Postgres**. Make sure the free tier (**Hobby Dev**) is selected and click **Provision**. Now
you should see **Heroku Postgres :: Database** in your **Add-ons** list.

### Loading the data into the Heroku DB

(1) Run the lines below in your terminal to install necessary libraries. (If you're running the jupyter notebook in the ds100 environment, the following 3 commands need to be ran in ds100 environment as well)

    conda install -y psycopg2
    conda install -y postgresql
    pip install ipython-sql

(2) Click the **Heroku Postgres :: Database** link in your app's **Add-ons** list.

(3) In the **Heroku Data** page you got redirected to, you should see the name of your
database. You can click on the **Setting** panel, then scroll down to **Administration** and click **View Credentials**. These are the
credentials that allow you to connect to the database. The last entry of the list
contains a line that looks like:

        heroku pg:psql db_name --app app_name

 In your terminal, take that command and add "`< fec.sql`" to the end
 to get something like: (You need to run this command in the folder which contains the fec.sql file. The file comes with the zip file of this homework)  

### ** Make sure you only run this ONCE, if you did it for lab, don't do it for homework**

        heroku pg:psql db_name --app app_name < fec.sql
        
        
 Run that command. It will run the commands in `fec.sql`, which load the dataset into the database.
 Now you should be able to run the command without the "`< fec.sql`" to
 have a postgres prompt. Try typing "`\d+`" at the prompt. You should get
 something like:
     
        ds100-hw4-db::DATABASE=> \d+
                               List of relations
         Schema |           Name           |   Type   |     Owner
        --------+--------------------------+----------+----------------
         public | cand                     | table    | vibrgrsqevmzkj
         public | comm                     | table    | vibrgrsqevmzkj
         public | ds100grades              | table    | vibrgrsqevmzkj
         public | ds100grades_recordid_seq | sequence | vibrgrsqevmzkj
         public | ds100weights             | table    | vibrgrsqevmzkj
         public | indiv_sample             | table    | vibrgrsqevmzkj
         public | indiv_sample_top         | table    | vibrgrsqevmzkj
         public | students                 | table    | vibrgrsqevmzkj
        (8 rows)

Congrats! You now have a Postgres database running containing the data you need
for this project.

# Part 1: Descriptive Statistics

In [ ]:
# For instructor use only. Call this function to force refresh okpy tests
def refresh():
    import sys
    keys = [k for k in sys.modules.keys() if 'ok_tests' in k]
    for k in keys:
        del sys.modules[k]
    global ok
    ok = Notebook('hw5.ok')

In [ ]:
# Run this cell to set up your notebook

import numpy as np
import pandas as pd
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns
import sqlalchemy
sns.set()

!pip install -U okpy
from client.api.notebook import Notebook

In [ ]:
ok = Notebook('hw5.ok')
ok.auth(force=False) # Change False to True if you are getting errors authenticating

Now, let's connect to your Postgres database. On your Heroku Postgres details,
look at the credentials for the database. Take the long URI in the credentials and
replace the portion of the code that reads `"replace_me"` with the URI.

It should start with `postgres://`.

In [ ]:
my_URI = "postgres://vibrgrsqevmzkj:79d76ebb9ae05f3e4a2eeb9397aa325dddf88932ffca0e6e568db9f8ea6466e4@ec2-54-243-214-198.compute-1.amazonaws.com:5432/ddfrb6gftpi2oa"
#my_URL = "postgres://postgres:7Rgg07yrpAB0@13.66.222.248/fec"
%load_ext sql
%sql $my_URI
engine = sqlalchemy.create_engine(my_URI)
connection = engine.connect()

## Table Descriptions

Here is a list of the tables in the database.  Each table links to the documentation on the [FEC page](http://www.fec.gov/finance/disclosure/ftpdet.shtml) for the dataset.

Note that the table names here are slightly different from the ones in lecture. Consult the FEC page
for the descriptions of the tables to find out what the correspondence is.

- [`cand`](http://www.fec.gov/finance/disclosure/metadata/DataDictionaryCandidateMaster.shtml): Candidates table. Contains names and party affiliation.
- [`comm`](http://www.fec.gov/finance/disclosure/metadata/DataDictionaryCommitteeMaster.shtml): Committees table. Contains committee names and types.
- [`indiv_sample`](http://www.fec.gov/finance/disclosure/metadata/DataDictionaryContributionsbyIndividuals.shtml): Sample of individual contributions from Berkeley.
- [`indiv_sample_top`](http://www.fec.gov/finance/disclosure/metadata/DataDictionaryContributionsbyIndividuals.shtml): Sample of individual contributions from the top contributors at Berkeley.

## Writing SQL queries

You can write SQL directly in the notebook by using the `%sql` magic, as demonstrated in the next cell.

Be careful when doing this.
If you try to run a SQL query that returns a lot of rows (100k or more is a good rule of thumb)
your browser will probably crash.

This is why in this homework, we will strongly prefer using SQL as much as
possible, only materializing the SQL queries when they are small.

**Because of this, your queries should work even as the size of your
data goes into the terabyte range! This is the primary advantage of working
with SQL as opposed to only dataframes.**

In [ ]:
# We use `LIMIT 5` to avoid displaying a huge table.
# Although our tables shouldn't get too large to display,
# this is generally good practice when working in the
# notebook environment.  Jupyter notebooks don't handle
# very large outputs well. 
%sql SELECT * from indiv_sample LIMIT 5

For longer queries, you can save your query into a string, then use it in the
`%sql` statement. The `$query` in the `%sql` statement pulls in the value in
the Python variable `query`.

In [ ]:
query = '''
SELECT cand_id, cand_name
FROM cand
WHERE cand_pty_affiliation = 'DEM'
LIMIT 5
'''

%sql $query

In addition, you can assign the SQL statement to a variable and then call `.DataFrame()` on it to get a Pandas DataFrame.  

However, it will often be more efficient to express your computation directly in SQL.  For this homework, we will be grading your SQL expressions so be sure to do all computation in SQL (unless otherwise requested).

In [ ]:
res = %sql select * from cand limit 5
res_df = res.DataFrame()
res_df['cand_id']

### Question 1a

We are interested in finding the individuals from Berkeley that donated large sums. To begin to answer this question, we will look at the `indiv_sample` table. We'll find all the transactions that exceed \$3,000. However, if there are a lot of transactions like that, it might not be useful to list them all.  So before actually finding the transactions, find out how many such transactions there are. Use only SQL to compute the answer.

(It should be a table with a single column called **`count`** and a single entry, the number of transactions.)  

We will be grading the query string `query_q1a`.  You may modify our template but the result should contain the same information with the same names.

In [ ]:
# SOLUTION
query_q1a = '''
SELECT count(*)
FROM indiv_sample
WHERE transaction_amt > 3000
'''
q1a = %sql $query_q1a
q1a

In [ ]:
assert connection.execute(query_q1a).fetchall() == [(4,)]

### Question 1b
Having seen that there aren't too many transactions that exceed \$3,000, let's find them all.  Using only SQL, construct a table containing the committee ID, contributor's name, and the transaction amount, for transactions that exceed $3,000 dollars.  Sort the transactions in decreasing order by amount. If two contributors contain the same transaction amount, sort by alphabetical order of their names.

We will be grading the query string `query_q1b`.  You may modify our template but the result should contain the same information with the same names.

In [ ]:
# SOLUTION
query_q1b = '''
SELECT 
    cmte_id AS committee_id, 
    name AS name,
    transaction_amt AS transaction_amt
FROM indiv_sample
WHERE transaction_amt > 3000
ORDER BY transaction_amt DESC, name
'''
q1b = %sql $query_q1b
q1b

In [ ]:
expected = [('C00586537', 'GUND, LOUISE LAIDLAW', 25000), ('C00000935', 'FIDDLER, JERRY', 10000), ('C00586537', 'LAPPEN, DAVID', 5000), ('C00401224', 'LUEVANO, ROSA', 5000)]
assert connection.execute(query_q1b).fetchall() == expected

### Question 1c
Of course, only looking at individual transactions could be misleading, since each contributor can make several transactions. A more interesting question is: How much did each contributor give *in total*?  Find the total transaction amounts after grouping by the name.  This time, just use `LIMIT 20` to limit your results to the top 20 total donations. Sort the results in descending order by total contribution amount. Break ties by alphabetical order of name as in the previous question.

Do you see any names that are familiar?

We will be grading the query string `query_q1c`.  You may modify our template but the result should contain the same information with the same names.

In [ ]:
# SOLUTION
query_q1c = '''
SELECT 
    name AS name, 
    sum(transaction_amt) AS total_transaction_amt 
FROM indiv_sample 
GROUP BY name
ORDER BY total_transaction_amt DESC, name
LIMIT 20
'''
q1c = %sql $query_q1c
q1c

In [ ]:
expected = [('GUND, LOUISE LAIDLAW', 25000), ('FIDDLER, JERRY', 10000), ('SHENKER, SCOTT', 8000), ('BERLEKAMP, ELWYN', 5550), ('ABRAMS, DENISE', 5400), ('LAPPEN, DAVID', 5000), ('LUEVANO, ROSA', 5000), ('BERNHARDT, ANTHONY', 3200), ('HUFF, GERALD', 3200), ('BIRD, KAREN', 2700), ('EPSTEIN, BOB', 2700), ('HAHN, SOPHIE', 2700), ('JOSEPH, DAVID', 2700), ('LITTMANN, NICOLE', 2700), ('LOGAN, JONATHAN', 2700), ('REINIS, JONATHAN ROY', 2700), ('SEIBEL, PETER', 2700), ('SHAPIRO, CARL', 2700), ('TAYLOR, JEROME', 2700), ('WILNER, DAVID', 2700)]
assert connection.execute(query_q1c).fetchall() == expected

### Question 2a

Another interesting thing is to see what is the distribution of contributors by occupation? Let's first compute how many distinct occupations occur in the dataset. You may need to use the `DISTINCT` keyword to solve the problem.

In [ ]:
# SOLUTION
query_q2a = '''
SELECT 
    COUNT(distinct occupation)
FROM indiv_sample 
'''
q2a = %sql $query_q2a
q2a

In [ ]:
assert connection.execute(query_q2a).fetchall() == [(407,)]

### Question 2b 
 Write a SQL query which computes for each occupation the number of transactions in the indiv_sample table. Display the top 20 results in descending order by count. 

We will be grading the query string `query_q2b`.  You may modify our template but the result should contain the same information with the same names.

In [ ]:
# SOLUTION
query_q2b = '''
SELECT 
    occupation AS occupation, 
    count(*) AS count
FROM indiv_sample 
GROUP BY occupation
ORDER BY count DESC
LIMIT 20
'''
q2b = %sql $query_q2b
q2b

In [ ]:
expected = [('NOT EMPLOYED', 373), ('RETIRED', 306), (None, 70), ('PROFESSOR', 58), ('ATTORNEY', 56), ('NONE', 33), ('SCIENTIST', 30), ('RETIRED TEACHER', 20), ('ENGINEER', 20), ('PHONE CLERK', 20), ('ARTIST', 19), ('PSYCHOLOGIST', 19), ('HOMEMAKER', 19), ('UNEMPLOYED', 18), ('WRITER', 18), ('PHYSICIAN', 18), ('TEACHER', 17), ('LAWYER', 16), ('PSYCHOTHERAPIST', 16), ('PROFESSIONAL', 15)]
assert connection.execute(query_q2b).fetchall()[:6] == expected[:6]

### Questions 2c
Compute the average transaction amount for each occupation, and sort them in descending order. Display the top 10 results.

In [ ]:
# SOLUTION
query_q2c = '''
SELECT 
    occupation AS occupation, 
    avg(transaction_amt) AS amount,
    count(*) AS count
FROM indiv_sample 
GROUP BY occupation 
ORDER BY amount DESC
LIMIT 10
'''
q2c = %sql $query_q2c
q2c

In [ ]:
func = lambda x:list(map(lambda y:(y[0],int(y[1]),y[2]),x))
expected = [('LOUISE GUND FOUNDATION', 25000, 1), ('INVESTOR/BOARD MEMBER', 10000, 1), ('MARRIAGE & FAMILY THERAPIST', 5000, 1), ('INVESTMENT MANAGEMENT', 2700, 1), ('LIVE THEATRE PRODUCER', 2700, 1), ('CHAIRMAN', 2700, 1), ('AIDS CASE MANAGER', 2500, 1), ('WEALTH MANAGER', 1700, 1), ('INVESTOR', 1485, 2), ('ACCOUNTANT', 1475, 2)]
assert func(connection.execute(query_q2c).fetchall())[:3] == expected[:3]

### Questions 2d
You may find that the top results only contains 1 or 2 transaction which are not useful. So we should only keep the reulsts that have more than 10 transcations. This time, you should use a nested `SELECT` to apply the filter on the results from q2c. After that, display the top 10 occupations that mave the largest average transaction amount.

In [ ]:
# SOLUTION
query_q2d = '''
SELECT 
    occupation AS occupation, 
    amount AS amount,
    count AS count
FROM
    (SELECT 
        occupation AS occupation, 
        avg(transaction_amt) AS amount,
        count(*) AS count
    FROM indiv_sample 
    GROUP BY occupation 
    ORDER BY amount DESC) AS t
WHERE count > 10
LIMIT 10
'''
q2d = %sql $query_q2d
q2d

In [ ]:
func = lambda x:list(map(lambda y:(y[0],int(y[1]),y[2]),x))
expected = [('ATTORNEY', 423, 56), ('SOFTWARE ENGINEER', 371, 13), ('CONSULTANT', 343, 12), ('STUDENT', 317, 11), ('SCIENTIST', 298, 30), ('ENGINEER', 228, 20), ('ARTIST', 216, 19), ('PHYSICIAN', 193, 18), ('RETIRED', 143, 306), ('UNEMPLOYED', 140, 18)]
assert func(connection.execute(query_q2d).fetchall()) == expected

### Questions 2e
In the previous queries, we compute the average transaction amount. But since each contributor can make several transactions, this doesn't tell us much. In stead, we should compute the average amount that a contributor made for each type of occupation. To achieve this, let's first group the transactions by name to compute the total amount for each individual, which is similar to q1c. But this time, we should `SELECT` the occupation as well. Display the top 10 results order by total_amount.

In [ ]:
# SOLUTION
query_q2e = '''
SELECT 
    occupation AS occupation,
    name AS name,
    sum(transaction_amt) AS total_amount
FROM indiv_sample
GROUP BY occupation,name
ORDER BY total_amount DESC
LIMIT 10
'''
q2e = %sql $query_q2e
q2e

In [ ]:
func = lambda x:list(map(lambda y:(y[0],y[1],int(y[2])),x))
expected = [('LOUISE GUND FOUNDATION', 'GUND, LOUISE LAIDLAW', 25000), ('INVESTOR/BOARD MEMBER', 'FIDDLER, JERRY', 10000), ('SCIENTIST', 'SHENKER, SCOTT', 8000), ('RETIRED', 'BERLEKAMP, ELWYN', 5550), ('ATTORNEY', 'ABRAMS, DENISE', 5400), ('NOT EMPLOYED', 'LUEVANO, ROSA', 5000), ('MARRIAGE & FAMILY THERAPIST', 'LAPPEN, DAVID', 5000), ('SOFTWARE ENGINEER', 'HUFF, GERALD', 3200), ('RETIRED', 'BERNHARDT, ANTHONY', 3200), ('MANAGER', 'SEIBEL, PETER', 2700)]
assert func(connection.execute(query_q2e).fetchall())[:5] == expected[:5]

### Question 2f
Let's continue with 2e, after computing the total amount for each individual. We can compute the average total_amount for each occupation type. Again, we should filter out the occupations that have small counts. Therefore, you should only select the top 10 occupations order by the average total_amount, with the constrains that the number of contributors in that occupation should be large than 5.

In [ ]:
# SOLUTION
query_q2f = '''
SELECT occupation,amount,count
FROM
    (SELECT 
        occupation,
        avg(total_amount) as amount,
        count(*) as count
    FROM
        (SELECT 
            occupation,
            sum(transaction_amt) AS total_amount
        FROM indiv_sample 
        GROUP BY occupation,name 
        ) AS t
        GROUP BY occupation
        ORDER BY amount DESC
    ) AS t2
WHERE count > 5
LIMIT 10
'''
q2f = %sql $query_q2f
q2f

In [ ]:
func = lambda x:list(map(lambda y:(y[0],int(y[1]),y[2]),x))
expected = [('SCIENTIST', 1118, 8), ('ATTORNEY', 593, 40), ('SOFTWARE ENGINEER', 535, 9), ('CONSULTANT', 374, 11), ('STUDENT', 349, 10), ('NOT-EMPLOYED', 331, 9), ('ARTIST', 273, 15), ('PHYSICIAN', 268, 13), ('ENGINEER', 253, 18), ('PROFESSOR', 240, 32)]
assert func(connection.execute(query_q2f).fetchall()) == expected

### Question 3
Now let's examine the committees that appear in the `indiv_sample` table, with the information from the `comm` table. First let's take a look of the `comm` table.

In [ ]:
%sql select * from comm limit 5

### Questions 3a
Let's first groupby the transactions in the `indiv_sample` table with `cmte_id` column (committee id), then count how many transactions and how much total amount of contribution there are for each `cmte_id`. Select the top 5 committee id order by the transactions count.

In [ ]:
query_q3a='''
SELECT
    cmte_id AS committee_id,
    sum(transaction_amt) AS total_amount,
    count(*) AS count
FROM indiv_sample
GROUP BY cmte_id
ORDER BY count DESC
LIMIT 5
'''
q3a = %sql $query_q3a
q3a

In [ ]:
expected = [('C00401224', 66228, 799), ('C00575795', 38002, 252), ('C00577130', 19920, 239), ('C00000935', 26040, 153), ('C00042366', 7271, 71)]
assert connection.execute(query_q3a).fetchall() == expected

### Questions 3b
Only showing the committee id doesn't tell us much. Let's also select the committee information by joining with the `comm` table using the `cmite_id` field.

You will extend the query we have from q3a and then perform a `JOIN` with the `comm` table. Select extra committee information such as committee name, party_affiliation, city and state from `comm`. Select the top 10 committees order by transaction count.

In [ ]:
query_q3b = '''
WITH cmte_count AS
(
  SELECT 
      cmte_id AS cmte_id,
      sum(transaction_amt) AS total_amount,
      count(*) AS count
  FROM indiv_sample 
  GROUP BY cmte_id 
)
SELECT 
    c.cmte_nm AS cmte_name, 
    c.cmte_pty_affiliation AS party_affiliation,
    c.cmte_city AS city,
    c.cmte_st AS state,
    i.total_amount AS total_amount,
    i.count AS count
FROM comm c RIGHT OUTER JOIN cmte_count i ON c.cmte_id = i.cmte_id
ORDER BY count DESC
LIMIT 10
'''
q3b = %sql $query_q3b
q3b

In [ ]:
expected = [('ACTBLUE', None, 'SOMERVILLE', 'MA', 66228, 799), ('HILLARY FOR AMERICA', 'DEM', 'NEW YORK', 'NY', 38002, 252), ('BERNIE 2016', 'DEM', 'BURLINGTON', 'VT', 19920, 239), ('DCCC', 'DEM', 'WASHINGTON', 'DC', 26040, 153), ('DSCC', 'DEM', 'WASHINGTON', 'DC', 7271, 71), ('END CITIZENS UNITED', None, 'WASHINGTON', 'DC', 1129, 47), ('HILLARY VICTORY FUND', None, 'NEW YORK', 'NY', 44163, 45), ('MOVEON.ORG POLITICAL ACTION', None, 'WASHINGTON', 'DC', 2836, 37), ('CATHERINE CORTEZ MASTO FOR SENATE', 'DEM', 'LAS VEGAS', 'NV', 6878, 27), ("EMILY'S LIST", None, 'WASHINGTON', 'DC', 7988, 26)]
assert connection.execute(query_q3b).fetchall() == expected

### Question 3c
From the results in q3b, it seems most of the party affiliation are DEM. So let's count the actual distribution of the party affiliation. Select all the different committee id from `indiv_sample`, joining with the `comm` table. Then group the results by party_affiliation and count how many committees there are for each party_affiliation. Order the results by committee count.

In [ ]:
query_q3c = '''
WITH cmte AS
(
  SELECT 
      DISTINCT cmte_id AS cmte_id
  FROM indiv_sample 
)
SELECT 
    c.cmte_pty_affiliation AS party_affiliation,
    count(*) AS count
FROM comm c  RIGHT OUTER JOIN cmte i ON c.cmte_id = i.cmte_id
GROUP BY c.cmte_pty_affiliation
ORDER BY count DESC
'''
q3c = %sql $query_q3c
q3c

In [ ]:
expected = [('DEM', 58), (None, 44), ('REP', 8), ('UNK', 4), ('NNE', 2), ('GRE', 1)]
assert connection.execute(query_q3c).fetchall() == expected

# Part 2: A Permutation Test in SQL

In this part, we're going to perform a hypothesis test using a permutation test. We'll perform nearly all our operations in SQL.

Here's our question: **Is there a difference in the proportion of donations made by small donors (under \$200) in Berkeley to Hillary Clinton's and Bernie Sanders' campaigns?**

**Probability Model:** To formulate a null hypothesis, we must consider the how the data are generated, i.e., we need to have a probability model for how the data arose.  We know that the sample was taken at random from the collection of all donations from Berkeley donors. We argue that Clinton attracts small donors at the same rate as Sanders. Then, given the proportion of donors in the combined sample of Clinton and Sanders donors, it's  just by chance that the proportion for Sanders and the proportion for Clinton don't match. 

With this model, we can figure out (approximate) the probability that the difference between these proportions would be as large or larger than the observed difference. To do this, we use a permuation test. 

**Permutation Test:**  In the permuation test, we simply mix up the small and large donors, and then tally the number of small donors to Clinton and the number to Sanders. We keep both the total number of donors to Clinton and the total number of donors to Sanders the same as in the sample, and we compare the two proportions by taking their difference. Essentially, we can think of this mixing as permuting the labels ("Clinton donor" and "Sanders donor") on all of the donors in our sample. For each random permutation, we tally the proportion of small donors to Clinton and Sanders and take their difference. After many permutations, we can examine the distribution of differences to see how likely it was to have observed our sample's difference. 

**Formal Hypothesis:** Now that we have a better understanding of the probability model, we formulate the null hypotheis as follows:

**$H_o$:** Clinton and Sanders attract the same proportion of small donors. Any observed difference in our sample is simply due to chance variation.

**$H_A$:**  The difference is real. 

Note: We might consider a *one-sided* alternative in this siutation. A one-sided alternative would be that Sanders' proportion is larger than Clinton's. Why would we do this?  Sanders made it part of his campaign that he was funded entirely by small donoations and that he wasn't obligated to `big money.' For this reason, we might be interested only in the side that shows Sanders having a greater proportion than Clinton, and not vice versa. 

For a review of permutation tests, we suggest looking over [this section on A/B testing](https://www.inferentialthinking.com/chapters/16/2/ab-testing.html) from the Data 8 textbook. Lecture #13 on Hypothesis testing includes an example of a permutation test. 


In this part, our skeletons will be minimal; it is your responsibility to use the right statements to answer the questions.

### Question 4

Before we begin, please think about and answer the following questions.

**For each question, state "Yes" or "No", followed by a one-sentence explanation.**

**(a)** If we were working with the entire FEC dataset instead of a sample,
would we still conduct a hypothesis test? Why or why not?

**(b)** Let's suppose we find that in our sample the difference in the proportion of money coming from
small donations by Berkeley donors to Hillary and Bernie's campaign is 0.3. Would
we still need to conduct a hypothesis test? Why or why not?

**(c)** Let's suppose we find that in our sample the difference in the proportion of money coming from
small donations by Berkeley donors to Hillary and Bernie's campaign is 0. Would
we still need to conduct a hypothesis test? Why or why not?

**Solution:**

**(a)** No. If we had the entire dataset, we could directly compute the
difference in proportion. Since the dataset contains **all** transactions,
we have the entire population we care about.

**(b)** Yes. Even though our *sample difference* is large, we would want to carry out the test and compute the chance of such a large or larger difference under the hypothesis that the true difference of 0. In this case, we will most likely reject the null hypothesis, but we want to find the $p$-value to confirm.

**(c)** No. Given our *sample difference* matches the hypothesized difference for the population, we know that we would not reject the null hypothesis.

### Question 5

As discussed, we've taken a simple random sample of 2000 rows of the original FEC data for individual contributions that only include contributions from Berkeley. This sample is stored in the table `indiv_sample`.

The individual contributions of donors are linked to committees, not candidates directly. Hillary's primary committee was called `HILLARY FOR AMERICA`, and Bernie's was `BERNIE 2016`.

Fill in the SQL query below to compute a SQL view called `contribs` of all the contributions for each
candidate's committee. Views are like tables. However, instead of storing the rows in the database, Postgres will recompute the values in the view each time you query it.

The resulting view should contain three columns:

1. `name`: The names of the each contributor
2. `transaction_amt`: The amount of each contribution
3. `cmte_nm`: The name of the committee that received the contribution (either `HILLARY FOR AMERICA` or `BERNIE 2016`).

Order your result by `transaction_amt` in descending order, breaking ties using `name` in alphabetical order.

We will be grading you on the query string `query_q5`.  You may modify our template but the result should contain the same information with the same names.

In [ ]:
query_q5 = """
CREATE OR REPLACE TEMP VIEW contribs AS
SELECT i.name, i.transaction_amt, c.cmte_nm
FROM indiv_sample AS i, comm AS c
WHERE i.cmte_id = c.cmte_id
    AND (c.cmte_nm = 'HILLARY FOR AMERICA'
         OR c.cmte_nm = 'BERNIE 2016')
ORDER BY transaction_amt DESC, name
"""

%sql DROP VIEW IF EXISTS contribs CASCADE
%sql $query_q5
%sql SELECT * FROM contribs LIMIT 5

In [ ]:
expected = [('HAHN, SOPHIE', 2700, 'HILLARY FOR AMERICA'), ('JOSEPH, DAVID', 2700, 'HILLARY FOR AMERICA'), ('LITTMANN, NICOLE', 2700, 'BERNIE 2016'), ('LOGAN, JONATHAN', 2700, 'BERNIE 2016'), ('REINIS, JONATHAN ROY', 2700, 'HILLARY FOR AMERICA')]
r=connection.execute("DROP VIEW IF EXISTS contribs CASCADE")
r=connection.execute(query_q5)
assert connection.execute("SELECT * FROM contribs LIMIT 5").fetchall() == expected

You might notice that the maximum donation is \$2700. See if you can use Google to find out why.

### Question 6

Use the `sample` view to fill in the SQL query below to compute a table containing three columns:

- `cmte_nm`: The committee name
- `small`: The number of small donors to that committee
- `total`: The total number of donors to that committee

The resulting table should have this structure (your counts will not exactly match these):

<table>
    <tbody><tr>
        <th>cmte_nm</th>
        <th>small</th>
        <th>total</th>
    </tr>
    <tr>
        <td>BERNIE 2016</td>
        <td>1</td>
        <td>3</td>
    </tr>
    <tr>
        <td>HILLARY FOR AMERICA</td>
        <td>2</td>
        <td>4</td>
    </tr>
</tbody></table>

Then, uncomment the provided line of code to load the query into a DataFrame. Use the DataFrame to compute our observed statistic:

$$ \frac {\textrm{total donations under \$200 to Hillary}} {\textrm{total donations to Hillary}} - 
    \frac {\textrm{total donations under \$200 to Bernie}} {\textrm{total donations to Bernie}}. 
$$

Then, save the numerical value in the variable `observed_stat`.

Hint: We suggest computing the total amounts donated to each candidate using a WITH clause, then using the resulting table to compute the difference.

In [ ]:
query_q6 = '''
WITH marked AS (
    SELECT *,
        (CASE WHEN transaction_amt <= 200
        THEN 1 ELSE 0
        END) AS small
    FROM contribs
)
SELECT cmte_nm, SUM(small) AS small, COUNT(*) AS total
FROM marked
GROUP BY cmte_nm
ORDER BY cmte_nm
'''

q6_df = pd.DataFrame(connection.execute(query_q6).fetchall(), columns=['cmte_nm', 'small', 'total'])

proportions = (q6_df['small'] / q6_df['total'])
observed_stat = proportions[1] - proportions[0]
observed_stat

In [ ]:
expected = [('BERNIE 2016', 212, 239), ('HILLARY FOR AMERICA', 225, 252)]
assert connection.execute(query_q6).fetchall() == expected
assert np.allclose(observed_stat, 0.0058278541542140516)

Is this result surprising?  Even though the difference is quite small, this difference could still be considered large relative to the standard error of the statistic. We need to find the chance of a difference this large or larger under the null hypothesis.  That's where our permutation test comes into the picture.

### Conducting a Permutation Test

As mentioned above, in a permutation test, we generate new observations as follows: 

1. Shuffle the observed values between the two samples. In this case, shuffle the contributions between Hillary and Bernie. We do this because we assume that our null hypothesis is true and that it was just by chance that Clinton had a higher proportion of small donors than Sanders. 
2. Recompute the test statistic on the shuffled sample.
3. Repeat.

To do this in SQL, we need to number the rows we want to bootstrap.

The following cell creates a view called `sample`.

It adds a `row_id` column to each row in `contribs` corresponding to a contribution and removes the `name` column since we don't need it for the permutation test.

## Question 7

Let's contruct a view containing the shuffled `row_id`'s for each trial. For example, if we had 3 contributions total and wanted to create 100 shuffled samples, we want something that looks like:

```
trial_id | row_id
======== | ======
1        | 1
1        | 3
1        | 2
2        | 2
2        | 1
2        | 3
...      | ...
100      | 2
100      | 3
100      | 1
```

This will let us later construct a join on the `sample` view that computes the
shuffled sample for each trial.

Create a view called `design` that contains two columns: `trial_id`
and `row_id`. It should contain the IDs corresponding to
1000 reshuffles of the entire `sample` view. The `sample` view contains 491
rows, so the `design` view should have a total of
`1000 * 491 = 491000` rows.

Hint: See if you can generate the trial_id and row_id in sorted order first. Then, try to shuffle the rows within each `trial_id` using a clever ORDER BY clause. We've done something similar in class when we took a sample without replacement in SQL. Our solution uses the Postgres functions `generate_series` and `random()`.

In [ ]:
# You may use these variables in your SQL query by prefixing the variable name with $
# eg. $n_trials
n_rows = 491
n_trials = 1000

query_q7 = """
CREATE VIEW design AS
SELECT *
FROM GENERATE_SERIES(1, $n_trials) as trial_id,
    GENERATE_SERIES(1, $n_rows) as row_id
ORDER BY trial_id, RANDOM()
"""

# Do not change anything below this line

# Fill in the $ variables set in the above string
import string
query_q7 = string.Template(query_q7).substitute(locals())

seed = 0.42
%sql drop view if exists design cascade
%sql SET SEED TO $seed
%sql $query_q7
%sql select * from design limit 5

In [ ]:
r=connection.execute("drop view if exists design cascade")
r=connection.execute("SET SEED TO " + str(seed))
r=connection.execute(query_q7)
# Test that your view has the right length
assert connection.execute("select count(*) from design").fetchall() == [(491000,)]
# If you fail these tests, you aren't shuffling the rows within each group only
assert connection.execute("select SUM(row_id) from design where trial_id = 1").fetchall() == [(120786,)]
assert connection.execute("select SUM(row_id) from design where trial_id = 2").fetchall() == [(120786,)]
assert connection.execute("select SUM(row_id) from design where trial_id = 3").fetchall() == [(120786,)]

### Question 8

Construct a view called `joined` that uses the `sample` and `design` views to create a table containing the shuffled transaction amounts along with the **unshuffled** committee names — the committee names in the same order as they appeared in the original sample. Remember that in the permutation test we are shuffling the transaction amounts between the committees.

It should have three columns:

- `trial_id`: The number of the trial, from 1 to 10000
- `transaction_amt`: The shuffled transaction amounts
- `cmte_nm`: The **unshuffled** committee names.

It should look something like:

<table>
    <tbody><tr>
        <th>trial_id</th>
        <th>transaction_amt</th>
        <th>cmte_nm</th>
    </tr>
    <tr>
        <td>1</td>
        <td>10</td>
        <td>BERNIE 2016</td>
    </tr>
    <tr>
        <td>1</td>
        <td>25</td>
        <td>BERNIE 2016</td>
    </tr>
    <tr>
        <td>1</td>
        <td>25</td>
        <td>BERNIE 2016</td>
    </tr>
    <tr>
        <td>1</td>
        <td>25</td>
        <td>HILLARY FOR AMERICA</td>
    </tr>
    <tr>
        <td>1</td>
        <td>35</td>
        <td>HILLARY FOR AMERICA</td>
    </tr>
</tbody></table>

Hint: We've given you a WITH clause computing a row number for each trial group. Take a look at that table before trying out this problem. This problem requires you to join three tables together (one table gets joined twice).

In [ ]:
query_q8 = '''
CREATE VIEW joined as
WITH num AS (
    SELECT MOD(row_number() over () - 1, $n_rows) + 1 AS row_in_group, *
    FROM design
)
SELECT ...
FROM ...
WHERE ...
    AND ...
'''

# Do not change anything below this line

query_q8 = string.Template(query_q8).substitute(locals())
%sql drop view if exists joined cascade
%sql SET SEED TO $seed
%sql $query_q8
%sql select * from joined limit 5

In [ ]:
# SOLUTION
query_q8 = '''
CREATE VIEW joined as
WITH num AS (
    SELECT MOD(row_number() over () - 1, $n_rows) + 1 AS row_in_group, *
    FROM design
)
SELECT d.trial_id, s1.transaction_amt, s2.cmte_nm
FROM num AS d, sample AS s1, sample AS s2
WHERE d.row_id = s1.row_id
    AND d.row_in_group = s2.row_id
'''

# Do not change anything below this line

query_q8 = string.Template(query_q8).substitute(locals())
%sql drop view if exists joined cascade
%sql SET SEED TO $seed
%sql $query_q8
%sql select * from joined limit 5

In [ ]:
r=connection.execute(q_sample)
r=connection.execute("drop view if exists joined cascade")
r=connection.execute("SET SEED TO " + str(seed))
r=connection.execute(query_q8)
# If you fail this test, you're shuffling the committee names along with the transaction amounts
q1 = "select sum(transaction_amt) from joined where trial_id = 1 group by cmte_nm order by cmte_nm"
res1 = connection.execute(q1).fetchall()
assert res1 != [(19920,), (38002,)]
q2 = "select sum(transaction_amt) from joined where trial_id = 2 group by cmte_nm order by cmte_nm"
assert res1 != connection.execute(q2).fetchall()

### Question 9

Construct a query `query_q9` that uses the `joined` view to compute the number of small donors for each trial. Recall that a small donor is anyone who contributed \$200 or less.

It should have four columns:

- `trial_id`: The number of the trial, from 1 to 1000
- `cmte_nm`: The committee name
- `small`: The number of small donors for that committee, for that trial
- `total`: The number of total donors for that committee, for that trial

Order the result by increasing `trial_id` and then by `cmte_nm` within each trial.

Your result should look something like:

<table>
    <tbody><tr>
        <th>trial_id</th>
        <th>cmte_nm</th>
        <th>small</th>
        <th>total</th>
    </tr>
    <tr>
        <td>1</td>
        <td>BERNIE 2016</td>
        <td>207</td>
        <td>239</td>
    </tr>
    <tr>
        <td>1</td>
        <td>HILLARY FOR AMERICA</td>
        <td>230</td>
        <td>252</td>
    </tr>
    <tr>
        <td>2</td>
        <td>BERNIE 2016</td>
        <td>215</td>
        <td>239</td>
    </tr>
    <tr>
        <td>2</td>
        <td>HILLARY FOR AMERICA</td>
        <td>222</td>
        <td>252</td>
    </tr>
    <tr>
        <td>3</td>
        <td>BERNIE 2016</td>
        <td>216</td>
        <td>239</td>
    </tr>
</tbody></table>

Hint: This is similar to how we computed our observed test statistic above. We suggest first computing a column of 1s and 0s that indicate whether a contribution is small. Then, see if you can group that table properly.

Then, create a pandas DataFrame called `trials` that contains the `trial_id` for each trial as the index and the generated test statistics as its only column `stats`. It should look like:

<table class="dataframe" border="1">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>stats</th>
    </tr>
    <tr>
      <th>trial_id</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>-0.018629</td>
    </tr>
    <tr>
      <th>2</th>
      <td>0.030285</td>
    </tr>
    <tr>
      <th>3</th>
      <td>-0.002325</td>
    </tr>
    <tr>
      <th>4</th>
      <td>-0.010477</td>
    </tr>
    <tr>
      <th>5</th>
      <td>0.022133</td>
    </tr>
  </tbody>
</table>

In [ ]:
# SOLUTION
query_q9 = '''
WITH marked AS (
    SELECT *, CASE WHEN transaction_amt <= 200 THEN 1 ELSE 0 END AS small
    FROM joined
)
SELECT trial_id, cmte_nm, SUM(small) AS small, COUNT(*) AS total
FROM marked
GROUP BY trial_id, cmte_nm
ORDER BY trial_id, cmte_nm
'''

# Do not change anything below this line

query_q9 = string.Template(query_q9).substitute(locals())
%sql SET SEED TO $seed
q9_df = pd.DataFrame(connection.execute(query_q9).fetchall(),
                     columns=['trial_id', 'cmte_nm', 'small', 'total'])

trials = (q9_df
 .assign(stats=q9_df['small'] / q9_df['total'])
 .loc[:, ['trial_id', 'stats']]
 .groupby('trial_id')
 .agg(lambda g: np.diff(g))
)
trials.head()

In [ ]:
r=connection.execute("SET SEED TO " + str(seed))
res = connection.execute(query_q9).fetchall()
# If you fail this test, you aren't computing the right number of rows in your query
assert len(res) == 2000

assert trials.shape == (1000, 1)
# Check that there is some variation in the trials
assert np.std(trials['stats']) != 0

### Plotting the sample distribution

Run the following cell to make a plot of the distribution of the proportion differences between Hillary and Bernie. We draw the observed test statistic and the negative of the observed test statistic as red lines on the plot.

You should understand why we draw two red lines given our alternative hypothesis and our choice of test statistic.

In [ ]:
sns.distplot(trials['stats'])
plt.axvline(x=observed_stat, color='r')
plt.axvline(x= -observed_stat, color='r')

### Question 10

Write a query `query_q10` to compute the $p$-value based on the test statistics we generated through the shuffled samples.  We want to find the proportion of the 1000 test statistics that are at least as large in absolute value as the observed statistic.

Save your $p$-value in the variable `p_value`.

In [ ]:
p_value = np.count_nonzero(np.abs(trials['stats']) >= np.abs(observed_stat)) / len(trials)
p_value

In [ ]:
assert 0 < p_value < 1
assert 0.5 < p_value < 1
assert 0.85 < p_value < 0.92

### Question 11

Based on your p-value, can you reject the null hypothesis using a cutoff of 5%? What do you conclude?

**SOLUTION:** Our p-value is 0.885 > 0.05, so we fail to reject the null. The data support the null hypothesis that the proportion of small donors to Hillary's and Bernie's campaigns are the same.

How might the fact that the California primary is one of the last primaries (it's in June) impact the results?

**SOLUTION:**  In June, it was looking like Clinton was going to win the Democratic nomination and many Sanders supporters began to back Clinton against Trump.

Congrats! You finished the homework.

# Submitting your assignment
First, run the next cell to run all the tests at once.

In [ ]:
_ = ok.grade_all()

Now, run the cell below to submit your assignment to OkPy. The autograder should email you shortly with your autograded score. The autograder will only run once every 30 minutes.

**If you're failing tests on the autograder but pass them locally**, you should simulate the autograder by doing the following:

1. In the top menu, click Kernel -> Restart and Run all.
2. Run the cell above to run each OkPy test.

**You must make sure that you pass all the tests when running steps 1 and 2 in order.** If you are still failing autograder tests, you should double check your results.

In [ ]:
# Now, we'll submit to okpy
_ = ok.submit()

Now, run this cell to create a PDF to upload to Gradescope.

You may get an error about `wkhtmltopdf` the first time you run this cell. If so, install `wkhtmltopdf` and try again.

Do not modify the cell below.

In [ ]:
from gs100 import convert
convert('hw5_master.ipynb', num_questions=3, solution=True)

**Make sure to upload your written answers to Gradescope now!**